<main class="main-page">

  <button class="back-button" (click)="goBack()"></button>

  <section class="banner">
    <img class="banner__image" src="./assets/backgrounds/desert-city.jpg" alt="">
    <h1 class="banner__title">{{ selectedSection }}</h1>
    <hr class="banner__separator">
  </section>

  <section class="information-section-container">
    <section class="information-section">
      <h1 class="information-section__title">{{ sectionTitle }}</h1>
      <div class="information-section__content">
        <div class="information-section__text-container">
          <section class="information-section__field" *ngFor="let field of fields; let i = index">
            <h2 class="information-section__field-title">{{ field.title }}</h2>
            <p class="information-section__field-content">{{ field.value }}</p>
          </section>
          
        </div>
      </div>
    </section>
  </section>

</main>
