<main class="main-page">

    <section class="banner">
        <hr class="top-banner__separator">
        <img class="banner__image" src="/src/assets/images/desert-city.jpg">
        <p class="banner__hover-text">Lorem ipsum</p>
        <hr class="bottom-banner__separator">
    </section>

    <section class="information-section-container">
        <section class="information-section">
            <h1 class="information-section__title">Title</h1>
            <div class="information-section__content">
                <div class="information-section__text-container">
                    <p class="information-section__text">Qui cillum sit esse adipisicing culpa anim. Excepteur non consequat velit duis laboris occaecat dolor velit dolor ex consequat. Deserunt officia fugiat aliquip officia quis dolore anim. Enim et magna tempor do irure elit occaecat. Ad Lorem dolore laboris dolor sunt labore deserunt. Officia culpa enim fugiat culpa non aliqua deserunt minim aliqua laborum.</p>
                </div>
                <div class="information-section__image-container">
                    <img class="information-section__image" src="/src/assets/images/image.png" alt="">
                </div>
            </div>
        </section>
    </section>

</main>
