.main-sections{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-sections figure{
    width: 33.3%;
    margin: 20px;
}

.main-sections__image {
    width: 100%;
}