<main class="character-card">
    <figure class="character-profile">
        <img 
            src="/src/assets/images/image.png"
            class="character-profile__img"
        >
    </figure>

    <header class="character-banner">
        <h1 class="character-banner__name">CHARACTER NAME</h1>
    </header>

    <article class="card-basic-content">
        <section class="level">
            <p class="level__caption">LEVEL</p>
            <p class="level__value">0</p>
        </section>
    
        <article class="info">
            <section class="info__basic">
                <p class="info__caption">Race</p>
                <hr class="info__line">

            </section>

            <section class="info__basic">
                <p class="info__caption">Class</p>
                <hr class="info__line">

            </section>
        </article>
    
    </article>

    <section class="character-stats">
        <article class="stats-container">
            <label class="stats__place-name character-creator__label">Stats</label>
            <section class="stats">
        
              <section class="stat stat--strength">
                <p class="stat__caption stat__caption--strength">Strength</p>
                <p class="stat__mod-value stat__mod-value--strength">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--strength">0</p>
                </div>
          
              </section>
              
              <section class="stat stat--wisdom">
                <p class="stat__caption stat__caption--wisdom">Wisdom</p>
                <p class="stat__mod-value stat__mod-value--wisdom">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--wisdom">0</p>
                </div>
          
              </section>
          
              <section class="stat stat--charisma">
                <p class="stat__caption stat__caption--charisma">Charisma</p>
                <p class="stat__mod-value stat__mod-value--charisma">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--charisma">0</p>
                </div>
          
              </section>
              
              <section class="stat stat--intelligence">
                <p class="stat__caption stat__caption--intelligence">Intelligence</p>
                <p class="stat__mod-value stat__mod-value--intelligence">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--intelligence">0</p>
                </div>
          
              </section>
              
              <section class="stat stat--constitution">
                <p class="stat__caption stat__caption--constitution">Constitution</p>
                <p class="stat__mod-value stat__mod-value--constitution">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--constitution">0</p>
                </div>
          
              </section>
              
              <section class="stat stat--dexterity">
                <p class="stat__caption stat__caption--dexterity">Dexterity</p>
                <p class="stat__mod-value stat__mod-value--dexterity">0</p>
          
                <div class="stat__value-container">
                  <p class="stat__value stat__value--dexterity">0</p>
                </div>
          
              </section>
        
            </section>
        </article>
    </section>
</main>