

.main-container{
    display: flex;
    flex-direction: column;
}

.upper-bar{
    display: grid;
    grid-template-rows: 5em;
    grid-template-columns: auto auto auto;
    background-color: #767272;
    align-items: center;
}

.upper-bar__main-logo{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.upper-bar__login{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.upper-bar img {
    padding: 1em; 
    width: 3em;
    height: 3.5em; 
}

.upper-bar__login-logo-action{
    height: 100%;
}

.lower-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em; 
    background: #333;
    height: 2.1em;
}

.main-menu {


    ul{
        list-style: none;
        margin:0;
        padding: 0;

        button{
            color: white;
        }
    }
}
















/* BARRA DE BÚSQUEDA */

.main-menu__search-bar {
    position: relative;
}

// .example-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }



// .mat-sidenav {
//     display: flex;
//     flex-direction: column;
// }

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav-content{
        display: flex;
        flex-direction: column;
    }
}
.mat-drawer-container {
    background-color: unset;
}


.main-menu__search-bar-input {
    padding: 0.625em 2.1875em 0.625em 0.9375em; /* 10px / 16px = 0.625em, 35px / 16px = 2.1875em, 15px / 16px = 0.9375em */
    border: none;
    border-radius: 100px;
    outline: none;
}

.main-menu__search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-top: 0.3125em; /* 5px / 16px = 0.3125em */
    margin-left: -2.1875em; /* -35px / 16px = -2.1875em */
}

.main-menu__search-button img {
    position: relative;
    top: 0.2em;
    width: 1.25em; /* 20px / 16px = 1.25em */
    height: 1.25em; 
    object-fit: cover;
}

// .mat-drawer-container{
//     background-color: unset;
// }

