<app-login
    *ngIf="visibilityPopUpLogIn"
    (closePopUpEmitter)="openClosePopUp()"
    (logInEmitter)="logIn($event)"
    (logInGoogleEmitter)="logInWithGoogle()"
    (logInFacebookEmitter)="logInWithFacebook()"
    [validEmailPassword]="validEmailPassword"
></app-login>

<header class="main-container">
    <section class="upper-bar">
        <div class="upper-bar__main-logo">
            <a class="upper-bar__main-logo-action" [routerLink]="routesURL.HOME.DEFAULT">
                <img class="upper-bar_main-logo-image" [src]="urlLogo">
            </a>
            <h1 [routerLink]="routesURL.HOME.DEFAULT" class="upper-bar__title">D&D FOR DUMMIES</h1>

            <nav class="main-menu">

                <ul class="main-menu__options main-menu__options--general">

                    <li class="main-menu__link main-menu__link--glossary">
                        <button mat-button [matMenuTriggerFor]="perfil">Glossary</button>
                        <mat-menu class="main-menu__link--mat-menu" #perfil="matMenu">
                            <button mat-menu-item *ngFor="let buttonItem of glossaryLiContents" [routerLink]="buttonItem.route">{{buttonItem.text}}</button>
                        </mat-menu>

                        <button mat-button [routerLink]="routesURL.CHARACTER.DEFAULT">Character Creator</button>

                        <button mat-button [routerLink]="routesURL.FORUM.DEFAULT">Forum</button>


                    </li>


                </ul>

            </nav>
        </div>

        <div class="upper-bar__login">
            <button *ngIf="currentUser ==undefined && currentUser ==null" mat-button [matMenuTriggerFor]="menu">
                <img class="upper-bar__login-logo-image" [src]="urlProfile">
            
                <mat-menu class="upper-bar__login-logo-action" #menu="matMenu">
                    <button class = "boton_Log_in" (click)="openClosePopUp()">Log In</button>
                </mat-menu>
            </button>

            <button  mat-button class="upper-bar__login-logo-action" *ngIf="currentUser!==undefined && currentUser!==null" [matMenuTriggerFor]="menu">
                <img id = "photo-width" class="upper-bar__login-logo-image_login" [src]="parsePhotoGoogleURL(currentUser.photoURL)">
                <mat-menu class="upper-bar__login-logo-action" #menu="matMenu">
                    <button *ngIf="currentUser!==undefined && currentUser!==null"class = "boton_Log_out" (click)="signOut()" >Log Out</button>
                    <button *ngIf="currentUser!==undefined && currentUser!==null" class = "boton_perfil" [routerLink]= "routesURL.AUTH.PROFILE" >Perfil</button>
                </mat-menu>
            </button>

        </div>

        <figure class="hamburger">
            <a class="abrir" (click)="openSideBar()">
                <img class="hamburger-img" src="/assets/images/barra-de-menus.png">
            </a>
        </figure>

    </section>
    
</header>

<article class="side-bar" (clickOutside)="closeSideBar()">
    
    <figure class="side-bar__login">
        <button *ngIf="currentUser==undefined && currentUser==null" (click)="openClosePopUp()" class = "boton_Log_in">Log In</button>
        <button *ngIf="currentUser!==undefined && currentUser!==null"class = "boton_Log_out" (click)="signOut()" >Log Out</button>
        <button *ngIf="currentUser!==undefined && currentUser!==null" class = "boton_perfil" [routerLink]= "routesURL.AUTH.PROFILE" >Perfil</button>
        
        <div class="side-bar__login-logo-container" *ngIf="currentUser!==undefined && currentUser!==null">
            <img id = "photo-width" class="side-bar__login-logo-image" [src]="parsePhotoGoogleURL(currentUser.photoURL)">
        </div>
        
        <a class="cerrar" (click)="closeSideBar()">
            <img class="exit" src="/assets/images/eliminar-simbolo.png">
        </a>
    </figure>

    <nav class="side-bar__main-menu">
        <ul class="side-bar__menu-primario">
            <li *ngFor="let buttonItem of glossaryLiContents">
                <a [routerLink]="buttonItem.route">{{buttonItem.text}}</a>
            </li>

            <ul class="side-bar__menu-secundario">
                <li>
                    <a [routerLink]="routesURL.CHARACTER.DEFAULT">Character Creator</a>
                </li>
    
                <li>
                    <a [routerLink]="routesURL.FORUM.DEFAULT">Forum</a>
                </li>
            </ul>

        </ul>

    </nav>

</article>
