<app-login 
    *ngIf="visibilityPopUpLogIn"
    (closePopUpEmitter)="closePopUp($event)"
    (logInEmitter)="logIn($event)"
    [validEmailPassword]="validEmailPassword"  
></app-login>
<mat-sidenav-container class="example-container" autosize (backdropClick)="close('backdrop')" [hasBackdrop]="true" >
    <mat-sidenav #sidenav opened mode="side" position="end" (keydown.escape)="close('escape')" disableClose>
        <mat-sidenav-content>
            <button mat-button>Prueba</button>
            <button mat-button>Prueba2</button>
        </mat-sidenav-content>
        
    </mat-sidenav>
    <!-- <mat-sidenav-content class="mat-sidenav">
        <button>Prueba</button>
        <button>Prueba2</button>
    </mat-sidenav-content> -->
</mat-sidenav-container>
<header class="main-container">
    <section class="upper-bar">
        <div class="upper-bar__main-logo">
            <a class="upper-bar__main-logo-action" [routerLink]="routesURL.HOME.DEFAULT">
                <img class="upper-bar_main-logo-image" src="/assets/images/logo.png" alt="Logo">
            </a>
            <h1 class="upper-bar__title">D&D FOR DUMMIES</h1>
        </div>
        
        <div class="upper-bar__login">
            <button class="upper-bar__login-logo-action" (click)="openPopUp()" *ngIf="currentUser===undefined || currentUser===null">
                <img class="upper-bar__login-logo-image" src="/assets/images/login.png">
            </button>
            <button class="upper-bar__login-logo-action" *ngIf="currentUser!==undefined && currentUser!==null" [routerLink]="routesURL.AUTH.PROFILE" (click)="sidenav.open()">
                <img class="upper-bar__login-logo-image" [src]="parsePhotoGoogleURL(currentUser.photoURL)">  
                <!-- <img src="https://lh3.googleusercontent.com/a/ACg8ocIuC0UthtFqT8J_NcYvpBhhwI9qNETu-wZBSGDt_EgO-BU=s1024"> -->
            </button>
        </div>

    </section>

    <section class="lower-bar">
        <nav class="main-menu">

            <ul class="main-menu__options main-menu__options--general">

                <li class="main-menu__link main-menu__link--glossary">
                    <button mat-button [matMenuTriggerFor]="menu">Glossary</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let buttonItem of glossaryLiContents" [routerLink]="buttonItem.route">{{buttonItem.text}}</button>
                    </mat-menu>
                    
                    

                </li>

                <!-- <li class="main-menu__link"><a class="main-menu__label" [routerLink]="routesURL.CHARACTER.DEFAULT">Character Creator</a></li>

                <li class="main-menu__link"><a class="main-menu__label" [routerLink]="routesURL.FORUM.DEFAULT">Forum</a></li> -->

            </ul>

        </nav>

    </section>
    
</header>

<!-- <main class="main-container">
    <section class="upper-bar">
        <div class="upper-bar__main-logo">
            <a class="upper-bar__main-logo-action"  href="/src/app/index.html">
                <img class="upper-bar_main-logo-image" src="/src/assets/images/logo.png" alt="Logo">
            </a>
        </div>
        

        <h1 class="upper-bar__title">D&D FOR DUMMIES</h1>
        
        
        <div class="upper-bar__login">
            <img class="upper-bar__login-logo-image" src="/src/assets/images/login.png" alt="Login">
        </div>

    </section>

    <section class="lower-bar">
        <nav class="main-menu">

            <ul class="main-menu__options main-menu__options--general">

                <li class="main-menu__link main-menu__link--glossary">
                    <a class="main-menu__label main-menu__label--glossary" href="/src/app/glossary/index.html">Glossary &#x25BE</a>
                    
                    <ul class="main-menu__options main-menu__options--glossary">
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/character-related/races/races.html">Races</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/character-related/classes/classes.html">Classes</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/character-related/alignments/alignments.html">Alignments</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/character-related/know-your-rolls/know-your-rolls.html">Know your rolls</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/interaction-related/weapons/weapons.html">Weapons</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/interaction-related/spells/spells.html">Spells</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/interaction-related/combat-gear/combat-gear.html">Combat Gear</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/interaction-related/combat/combat.html">Combat</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/adventure-related/adventure/adventure.html">Adventure</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/adventure-related/tools-section/tools.html">Tools</a></li>
                        <li class="main-menu__glossary-section"><a href="/src/app/glossary/adventure-related/adventuring-gear/adventuring-gear.html">Adventuring Gear</a></li>
                    </ul>
                </li>

                <li class="main-menu__link"><a class="main-menu__label" href="/src/app/character-creator/character-creator.html">Character Creator</a></li>

                <li class="main-menu__link"><a class="main-menu__label" href="/src/app/forum/index.html">Forum</a></li>

            </ul>

        </nav>
        
        <div class="main-menu__search-bar">
            <form class="main-menu__search-bar-form" action="" method="">
                <input class="main-menu__search-bar-input" type="search" name="query" placeholder="Search...">
                <button class="main-menu__search-button">
                    <img src="/src/assets/images/search.png" alt="">
                </button>
            </form>
        </div>

    </section>

    <div class="login-popup-container"></div>
</main> -->