
.main-container{
    display: flex;
    flex-direction: column;

    color: #333;
}

.upper-bar{
    display: grid;
    grid-template-rows: 3em;
    grid-template-columns: 16em auto auto;
    background-color: #c9c5c5;
    align-items: center;
}

.upper-bar__main-logo{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;

}

.upper-bar_main-logo-image{
    max-width: 2.5em;
    max-height: 2.5em;
}

.upper-bar__title{
    font-size: 1.2em;
    
    // text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    //          .5px .5px #fff, -.5px -.5px #fff, .5px -.5px #fff, -.5px .5px #fff;
}

.upper-bar__login{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.upper-bar img {
    padding: 1em; 
    width: 3em;
    height: 3.5em; 
}

.upper-bar__login-logo-action{
    height: 100%;
}

.upper-bar__login-logo-image{
    max-width: 2em;
    max-height: 2em;

    border-radius: .1em;
}

.lower-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em; 
    // background: #333;
    height: 2.1em;
}

nav{
	// background-color: #333;

    ul{
        list-style: none;
        margin:0;
        padding: 0;

        button{
        }
    }
}

/* BARRA DE BÚSQUEDA */

.main-menu__search-bar {
    position: relative;
}

.main-menu__search-bar-input {
    padding: 0.625em 2.1875em 0.625em 0.9375em; /* 10px / 16px = 0.625em, 35px / 16px = 2.1875em, 15px / 16px = 0.9375em */
    border: none;
    border-radius: 100px;
    outline: none;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
