.main-container{
    display: flex;
    flex-direction: column;

    color: #333;
}

.upper-bar{
    display: grid;
    grid-template-rows: 3em;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.upper-bar__main-logo{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;

}

.upper-bar_main-logo-image{
    max-width: 2.5em;
    max-height: 2.5em;
}

.upper-bar__title{
    font-size: 1.2em;
    width: 9.5em;
    font-family: 'Ringbearer', sans-serif;
    color: var(--paleta-rojo1);
    
    // text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    //          .5px .5px #fff, -.5px -.5px #fff, .5px -.5px #fff, -.5px .5px #fff;
}

.upper-bar__login{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;

}

.upper-bar img {
    padding: 1em;
    width: 3em;
    height: 3.5em;
}

.upper-bar__login-logo-action{
    height: 100%;
}

.upper-bar__login-logo-image{
    max-width: 2em;
    max-height: 2em;

    border-radius: .1em;
}
.upper-bar__login-logo-image_login{
    border-radius: 50%;
    width: 2 em;   
}
#photo-width{
    height: 3em;
}

nav{
	// background-color: #333;

    ul{
        list-style: none;
        margin:0;
        padding: 0;

        button{
            color: var(--paleta-rojo2);
            font-family: 'DRAGON HUNTER', sans-serif;
        }
    }

    position: relative;
    left: 1.5em;
}

/* BARRA DE BÚSQUEDA */

.main-menu__search-bar {
    position: relative;
}

.main-menu__search-bar-input {
    padding: 0.625em 2.1875em 0.625em 0.9375em; /* 10px / 16px = 0.625em, 35px / 16px = 2.1875em, 15px / 16px = 0.9375em */
    border: none;
    border-radius: 100px;
    outline: none;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.main-menu__link--mat-menu{
    background-color: #333;
}


///////////////////////////////////////////////////////////////////////////////////

.boton_perfil,
.boton_Log_in, .boton_Log_out {
    font-size: 1.2em;
    font-family: 'Ringbearer', sans-serif;
    color: var(--paleta-rojo1);

    border: none;
    background-color: transparent;

    display: flex;

    width: 5em;

    position: relative;
    left: .5em;
    
}

.boton_Log_out{
  margin-bottom: .5em;
}

.boton_perfil:hover,
.boton_Log_in:hover,
.boton_Log_out:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .2em;
}

.hamburger{
    display: none;
}
  
.side-bar{
    display: none;
}

@media screen and (max-width: 768px){
    .main-menu, .upper-bar__login{
      display: none;
    }

    .upper-bar__title{
      font-size: 1em;
  }
  
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 

        height: 1em;

        position: relative;
        left: 2em;
    }

    .hamburger-img{
        max-width: 2em;
        max-height: 2em;
    }
  
    .side-bar{
      z-index: 9999;
  
      position: fixed;
      top: 0;
      right: 0;
  
      border-radius: 0 0 0 1em;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  
      font-size: 120%;
  
      height: 100%;
      width: 13em;
      
      background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
      background-size: 200% auto;
      animation: shimmer 2s infinite linear;


      font-family: 'Ringbearer', sans-serif;

    }
  
    .visible{
        display: flex;
        flex-direction: column;
    }
  
    .side-bar__login{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      gap: 1em;

      width: 11em;
      height: .5em;

      position: relative;
      right: 1em;

    }

    .exit{
        max-width: 1em;
        max-height: 1em;
    
        cursor: pointer;

        position: relative;
        top: .2em;
  
    }
  
    .side-bar__login-logo-image{
        max-width: 1.2em;
        max-height: 1.2em;

        position: relative;
        top: .2em;

    }

    .boton_Log_in{
        font-size: 80%;

        background-color: rgba(255, 255, 255, 0.5);
        border-radius: .2em;

    }

    .boton_perfil{
      font-size: 70%;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: .2em;

      width: 13em;
    }

    .boton_Log_out{
      font-size: 60%;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: .2em;

      width: 25em;
      height: 1.7em;

      position: relative;
      top: .25em;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .side-bar__login-buttons{
        display: flex;
    }

    .side-bar__menu-primario{
  
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: .5em;
  
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: .5em;

      width: 11em;
      height: 30em;

      position: relative;
      right: .5em;
    }
    
    .side-bar__menu-primario > li > a{
      display: block;
      color: var(--paleta-rojo2);
      text-decoration: none;
      
      padding-top: .2em;
      padding-left: .8em;
    }
  
    .side-bar__menu-secundario{
      list-style: none;
      text-decoration: none;
  
      gap: 1em;
    }
  
    .side-bar__menu-secundario > li > a{
      display: block;
      color: var(--paleta-rojo2);
      text-decoration: none;

      padding-top: 1em;
      padding-left: .8em;
    }
  
    .login-popup-container{
      font-size: 80%;
    }
    
  }
  
  @media screen and (max-width: 375px){
    .login-popup-container{
      font-size: 60%;
    }
  }
  
  
