* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.glossary-sections{
  display: flex;
  flex-direction: column;

  background-image: url('src/assets/images/dice_background_red.png');
  background-repeat: repeat;
  background-size: 50em;
}

.section {
  margin: 1em 0;
  background-size: contain;
  width: 100%;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__container {
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px) brightness(0.6);
  padding: 4em;

}

.section__zone {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.section__img {
  align-self: center;
  border: 5px solid black;
  border-radius: 20%;
  transition: border-color 0.3s ease;
}

.section__label {
  font-size: 1.5em;
  color: var(--paleta-dorado);
  font-weight: 700;
  text-align: center;

  
  font-family: 'Ringbearer', sans-serif;
}

.section__zone .section__img:hover {
  border-color: #FFBB00FF;
}

.section--character {
  background: url(/assets/backgrounds/magic-forest1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
}

.blur-container {
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(5px);
  padding: 0.50em;
  border-radius: 10px;
}

#section--character_label{
  white-space: pre-line;
  color: var(--paleta-dorado);
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ebrima, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 #2C0506,
    1px -1px 0 #2C0506,
    -1px  1px 0 #2C0506,
    1px  1px 0 #2C0506;


}

.section--interaction {
  background: url(/assets/backgrounds/red-forest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-start;
}
#section--interaction_label{
  white-space: pre-line;
  color: var(--paleta-dorado);
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ebrima, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 #2C0506,
    1px -1px 0 #2C0506,
    -1px  1px 0 #2C0506,
    1px  1px 0 #2C0506;
}

.section--adventure {
  background: url(/assets/backgrounds/magic-forest2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
}
#section--adventure_label{
  white-space: pre-line;
  color: var(--paleta-dorado);
  height: 90%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ebrima, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 #2C0506,
    1px -1px 0 #2C0506,
    -1px  1px 0 #2C0506,
    1px  1px 0 #2C0506;
}
