* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.glossary-sections{
  display: flex;
  flex-direction: column;

  background-image: url('src/assets/images/dice_background_red.png');
  background-repeat: repeat;
  background-size: 50em;
}

.section {
  margin-top: 2em;
  width: 100%;
  height: 40vh;

  display: grid;
  align-items: center;

  border-top: 5px groove rgba(224, 60, 60, 0.16);
  border-bottom: 5px groove rgba(224, 60, 60, 0.16);
}

.section__container {
  display: flex;
  flex-direction: row;
}

.section__zone {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.section__img {
  align-self: center;
  border: 5px solid black;
  border-radius: 20%;
  transition: border-color 0.3s ease;
  width: 60%;
}

.section__label {
  width: 100%;
  font-size: 1.5em;
  color: #ffbb00;
  text-align: center;
  font-family: 'DRAGON HUNTER', sans-serif;
  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
  2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
}

.section__zone .section__img:hover {
  border-color: #FFBB00FF;
}

#section--character {
  background: url('/assets/backgrounds/magic-forest1.png') center/cover no-repeat;
  justify-content: flex-end;
  grid-template-columns: 1fr 2fr;
}

#section--character_label{
  white-space: pre-line;
  color: #ffbb00;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ringbearer', SansSerif;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.37),
    1px -1px 0 rgba(0, 0, 0, 0.37),
    -1px  1px 0 rgba(0, 0, 0, 0.37),
    1px  1px 0 rgba(0, 0, 0, 0.37);
}

#section--interaction {
  background: url('/assets/backgrounds/red-forest.png') center/cover no-repeat;
  justify-content: flex-start;
  grid-template-columns: 2fr 1fr;

  .blur-container {
    background: rgba(28, 60, 71, 0.69);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 0.5em 0;
    border-radius: 20px 0 0 20px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-color: #ffbb00;
  }
}
#section--interaction_label{
  white-space: pre-line;
  color: #ffbb00;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ringbearer', SansSerif;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.37),
    1px -1px 0 rgba(0, 0, 0, 0.37),
    -1px  1px 0 rgba(0, 0, 0, 0.37),
    1px  1px 0 rgba(0, 0, 0, 0.37);
}

#section--adventure {
  background: url('/assets/backgrounds/magic-forest2.png') center/cover no-repeat;
  justify-content: flex-end;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2em;

  img {
    width: 50%;
  }
}

#section--adventure_label{
  white-space: pre-line;
  color: #ffbb00;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ringbearer', SansSerif;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.37),
    1px -1px 0 rgba(0, 0, 0, 0.37),
    -1px  1px 0 rgba(0, 0, 0, 0.37),
    1px  1px 0 rgba(0, 0, 0, 0.37);
}

.blur-container {
  background: rgba(28, 60, 71, 0.69);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 0.5em 0;
  border-radius: 0 20px 20px 0;
  border-width: 3px 3px 3px 0;
  border-style: solid;
  border-color: #ffbb00;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  #section--character_label, #section--interaction_label, #section--adventure_label{
    font-size: 1.5em;
  }
  .section__label {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px){
  .section {
    display:flex;
    flex-direction: column;
    height: auto;
    border-top: 0;
    margin:0;
  }
  #section--character, #section--adventure {
    justify-content: space-between;
    margin: 0;
  }
  #section--interaction {
    flex-direction: column-reverse;
    .blur-container {
      width: 100%;
      height: auto;
      padding: 0.5em;
      border-radius: 0 0 20px 20px;
      border-width: 0 3px 3px 3px;

      border-top: 5px groove rgba(224, 60, 60, 0.16);
    }
  }
  #section--character_label, #section--interaction_label, #section--adventure_label{
    font-size: 1em;
    width: 100%;
    height: auto;
  }
  .blur-container {
    width: 100%;
    height: auto;
    padding: 0.5em;
    border-radius: 0 0 20px 20px;
    border-width: 0 3px 3px 3px;

    border-top: 5px groove rgba(224, 60, 60, 0.16);
  }

  .section__container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
    margin: 1em 0;
  }

  .section__img {
    border: 3px solid black;
    border-radius: 20%;
  }

  .section__label {
    font-size: 0.5em;
  }
}
