<div class = backdrop>
    <div class = login-container *ngIf="isAuthenticated">
        <p id = text>Become a Premium User!</p>
        <span class="login-container__close-icon"><a (click)="closePopUp()"><i class="bi bi-x"></i></a></span>
        <div class="radio-buttons">
            <label class="radio-button">
            <input type="radio" name="subscriptionType" (click)="selectSubscription('mensual')">
            <span class="radio-label">Monthly Suscription</span>
            </label>
            <label class="radio-button">
            <input type="radio" name="subscriptionType" (click)="selectSubscription('anual')">
            <span class="radio-label">Annual Suscription</span>
            </label>
        </div>
        <p> Get unique features</p>
        <div class = ".upper-bar img" *ngIf="!mensualidad && !anualidad" >
            <img class="upper-bar_main-logo-image" [src]="urlLogo">
            </div>
        <div *ngIf="!mensualidad && !anualidad" class = .popup-content>
        <p id = "auxiliar"> 
            if you become a member of our community you can create and save all the characters that you want ,post photos in the forum and personalize your profile pick with a unique theme just for premium users.
        </p>
        </div>
        <div *ngIf="mensualidad || anualidad">
            <form [formGroup]="premiumform" (ngSubmit)="mensual()">
                <section>
                    <mat-form-field>
                        <mat-label>Card Number</mat-label>
                        <input matInput formControlName="tarjeta" type="text">
                        <mat-error *ngIf="premiumform.get('tarjeta')?.invalid && (premiumform.get('tarjeta')?.dirty || premiumform.get('tarjeta')?.touched)">
                            invalid number.
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <mat-label>Titular de la cuenta</mat-label>
                        <input matInput formControlName="nombre" type="text">
                        <mat-error *ngIf="premiumform.get('nombre')?.invalid && (premiumform.get('nombre')?.dirty || premiumform.get('nombre')?.touched)">
                            name is required.
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <mat-label>Fecha de caducidad (MM/YYYY)</mat-label>
                        <input matInput formControlName="fecha" type="text" mask="00/0000" placeholder="MM/YYYY">
                        <mat-error *ngIf="premiumform.get('fecha')?.invalid && (premiumform.get('fecha')?.dirty || premiumform.get('fecha')?.touched)">
                           must have MM/YYYY format.
                        </mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <mat-label>Código de seguridad</mat-label>
                        <input matInput formControlName="code" type="text">
                        <mat-error *ngIf="premiumform.get('code')?.invalid && (premiumform.get('code')?.dirty || premiumform.get('code')?.touched)">
                            invalid security code.
                        </mat-error>
                    </mat-form-field>
                </section>
                <div class="paybutton">
                    <button (click)="pay()" class = paybutton>pagar</button>
                    <p class="payment-amount"> Payment amount {{cantidad}}</p>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="!isAuthenticated" class="auth-container">
        <p>You must sign in to use this feature</p>
        <button (click)="Goregister()" class="paybutton">Go to Register</button>
    </div>
</div>
