<body>
<main class="forum-main">

  <section class="banner">
    <img class="banner__image" src="/assets/images/island.png">
    <p class="banner__hover-text">Welcome to the forum! Feel free to share your thoughts and ask your doubts to the community.</p>
    <hr class="banner__separator">
  </section>

  <h1 class="forum-title">Forum</h1>

  <section class="topic-list-container">
    <ul class="topic-list">
      <li class="topic-display" *ngFor="let i of dummyList">
        <app-topic-preview></app-topic-preview>
      </li>
    </ul>
  </section>

  <section class="new-topic-area" [ngClass]="{'needToLogIn':user===null}">

    <div class="text-overlay" *ngIf="user===null">
        <p>You need to be logged to comment</p>
        <div class="buttons-overlay">
            <button routerLink="/auth/signUp">Register</button>
        </div>

    </div>

    <section class="topic-creation-area" >
      <div class="overlay"></div>

      <div class="topic-creation-area__name-container">
        <input type="text" class="topic-creation-area__name" placeholder="Topic">
      </div>

      <div class="topic-creation-area__text-container">
        <textarea class="topic-creation-area__text" placeholder="Enter your text..."></textarea>
      </div>

    </section>


    <div class="topic-button-container">
       <div class="overlay overlay-button"></div>
      <button class="topic-button">Publish</button>
    </div>

  </section>

</main>

</body>
