<body>
<main class="forum-main">

  <section class="banner">
    <img class="banner__image" src="/assets/images/island.png">
    <p class="banner__hover-text">Welcome to the forum! Feel free to share your thoughts and ask your doubts to the community.</p>
    <hr class="banner__separator">
  </section>

  <h1 class="forum-title">Forum</h1>

  <section class="topic-list-container">
    <ul class="topic-list">
      <li class="topic-display" *ngFor="let i of dummyList">
        <app-topic-preview></app-topic-preview>
      </li>
    </ul>
  </section>

  <section class="new-topic-area" [ngClass]="{'needToLogIn':user===null}">
    <section class="topic-creation-area" >

            <div class="topic-creation-area__name-container">
              <input type="text" class="topic-creation-area__name" placeholder="Topic" [(ngModel)]="newPostTitle">
            </div>

            <div class="topic-creation-area__text-container">
              <textarea class="topic-creation-area__text" placeholder="Enter your text..." [(ngModel)]="newPostContent"></textarea>
            </div>

      </section>

      <div class="topic-button-container">
        <button class="topic-button" (click)="publishPost()">Publish</button>
      </div>

  </section>

</main>

</body>
