* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

}

.forum-main {
  background-image: url('/assets/images/dice_background_red.png');
  background-repeat: repeat;
  background-size: 50em;
}

.banner {
  position: relative;
  padding-top: 1em;
  width: 100%;
  height: 60vh;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible */
  object-position: top;
  transition: filter 0.5s ease;
}

.banner:hover .banner__image {
  filter: blur(3px) brightness(0.6); /* Aplicamos desenfoque y reducimos el brillo solo al fondo en hover */
}

.banner__hover-text {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;
}

.banner:hover .banner__hover-text {
  display: block; /* Mostramos el texto en hover */
  visibility: visible;
  opacity: 1;
}

.forum-title{
  padding: 1em;
  color: #c9c5c5;
  background-color: rgba(0,0,0,.5);

  display: flex;
  align-content: center;
  justify-content: center;

  align-self: center;

  margin-top: .2em;
  display: none;

}

.topic-list-container{
  padding: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

}

.topic-list{
  list-style: none;
  width: 70em;
  height: 25.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-topic-area{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1em;

}

.needToLogIn {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: .5em;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Aquí puedes ajustar la opacidad del overlay */
  z-index: 1; /* Asegura que el overlay esté sobre el contenido */
}

.topic-creation-area {

  position: relative;
  border: .05em solid black;
  border-radius: .5em;
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

  background-color: #333;

  width: 70em;
  height: 27.5em;

}

.text-overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.buttons-overlay{
  width: 100%;
}

.topic-creation-area__name-container {
  display: flex;
  align-items: center;
  padding: 1em;
  height: 3em;

}

.topic-creation-area__name {
  background-color: #c9c5c5;

  width: 100%;
  height: 75%;

  border: .05em solid black;
  border-radius: .5em;
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

  padding: .6em;

}

.topic-creation-area__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  margin-top: 1em;

  position: relative;
}

.topic-creation-area__text {
  border: 0;
  background-color: #c9c5c5;

  width: 80em;
  height: 100%;

  border: .05em solid black;
  border-radius: .5em;
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

  resize: none;
  padding: .6em;
}

.topic-button-container{
  display: flex;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-bottom: 2em;

}

.topic-button{
  background-color: #333;
  border: .01em solid #000;
  border-radius: .3em;
  box-shadow: .2em .2em .1em rgba(0,0,0,.5);

  transition-duration: 0.4s;
  cursor: pointer;

  color:#c9c5c5;
  padding: .1em;

  font-size: 2.2em;

  width: 5em;
  height: 1.5em;

  position: sticky;
  left: 13.7em;
  bottom: 1em;
}

.overlay-button {
  border-radius: .3em !important;
}

.topic-button:hover{
  background-color: rgb(31, 30, 30)
}

@media screen and (max-width: 768px){
  .forum-title{
    width: 90%;

  }

  .topic-list{
    width: 40em;
  }

  .topic-creation-area{
    width: 40em;
  }

  .topic-creation-area__text{
    width: 44em;
  }

  .topic-button{
    font-size: 1.8em;
    left: 8.8em;
  }
}

@media screen and (max-width: 375px){
  .banner{
    height: 10em;
  }

  .banner__hover-text{
    font-size: 100%;
  }
  .forum-title{
    width: 80%;
  }

  .topic-list{
    width: 20em;

  }

  .topic-creation-area{
    width: 20em;
  }

  .topic-creation-area__text{
    width: 20em;
  }

  .topic-button{
    font-size: 1.8em;
    left: 3.2em;
  }
}
