<div class="login-container">
    <span class="login-container__close-icon"><a href="/src/index.html"><i class="bi bi-x"></i></a></span>

    <section class="login-form-box">
        <hr class="login-form-box__top-separator">
        <h1>Welcome to the dungeon!</h1>
        <form class="login-info" action="#">

            <section class="login-section login-section--name-email">


                <mat-form-field>
                    <mat-label>Username/Email</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <!-- <span class="login-section__email-icon">
                    <i class="bi bi-envelope-fill login-section__icon"></i>
                </span>
                <input class="login-section__value login-section__value--name-email" type="text" required >
                <label class="login-section__label">Username/Email</label> -->

            </section>

            <section class="login-section login-section--password">

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <!-- <span class="login-section__password-icon"><i class="bi bi-lock login-section__icon"></i></span>
                <input class="login-section__value login-section__value--password" type="password" required>
                <label class="login-section__label">Password</label> -->
            </section>

            <section class="login-section__remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </section>
        </form>

    
        <section class="confirmation">
            <button class="confirmation__log-in-btn" type="submit">Log In</button>
    
            <div class="confirmation__register">
                <p>New to D&D For Dummies?
                    <a class="confirmation__register-action" href="/src/signup.html">
                        Register here for free!
                    </a>
                </p>
            </div>
    
        </section>


        <hr class="login-form-box__bottom-separator">
    </section>
</div>
