.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    position: absolute;
    z-index: 100;
    width: 33em;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #000;
    border-radius: .5em;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 1em #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    font-family: 'DRAGON HUNTER', sans-serif;

    background: linear-gradient(to right, #a6a1a1, #c9c5c5, #bab6b6, #b0adad, #a6a1a1);
    background-size: 200% auto;
    animation: shimmer 10s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.wrongEmailPassword_text{
    text-align: center;
    margin-bottom: 0;
    color:red;
}

.login-container .login-form-box {
    width: 80%;
    padding: 2em;
}

// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
// }

.login-container__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 1.5em;
    background-color: #000;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .5em;
    cursor: pointer;
}

.login-container__close-icon a{
    text-decoration: none;
    /* Solución temporal */
    position: absolute;
    color:white;
    top: 10%;
}

.login-form-box {
    display: flex;
    flex-direction: column;
    margin-top: .2em;
    margin:3%;
}


.login-form-box h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section__remember-forgot {
    font-size: .9em;
    font-weight: 700;
    margin: -1em 0 1em;
    display: flex;
    justify-content: space-between;
}

.login-section__remember-forgot label input {
    accent-color: #000;
    margin-right: 1;
}

.login-section__remember-forgot a {
    text-decoration: none;
    color: #000;
}

.login-section__remember-forgot a:hover {
    text-decoration: underline;
}

.confirmation__log-in-btn {
    width: 100%;
    margin-top:1em;
    height: 3.4em;
    background: #000;
    color: black;
    border: none;
    outline: none;
    border-radius: .4em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'DRAGON HUNTER', sans-serif;

    
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.confirmation__register {
    font-size: .9em;
    text-align: center;
    font-weight: 600;
    margin: 1em 0 1em;
}

.confirmation .confirmation__register-action {
    color: #4d0404;
    text-decoration: none;
    font-weight: 800;
}



.confirmation__register-action:hover {
    text-decoration: underline;
}

.login-form-box__bottom-separator {
    bottom: 2em;
    width: 80%;
}

@media screen and (max-width: 650px){
    .login-container {
        width: 35em;
        
        font-size: 60%;
    }
}