body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flip-card {
  background-color: transparent;
  width: 12em;
  height: 12em;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #1C3C47;
  border-radius: 20%;
  border: 5px solid #000000;
  box-shadow: 0 0 0 4px #a47700;
}

.glossary-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glossary-element__name {
  color: var(--paleta-beige);
  transition: filter 1.4s ease;
  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
  2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;

  height: 1.2em;
  font-size: medium;
  font-family: 'Ringbearer', sans-serif;
}

.glossary-element__image {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #000000;
  border-radius: 20%;
  box-shadow: 0 0 0 4px #a47700;
}


.glossary-element__button {
  background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
  background-size: 200% auto;
  animation: shimmer 2s infinite linear;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: var(--paleta-rojo2);
  font-family: 'DRAGON HUNTER', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.glossary-element__button:hover {
  opacity: 0.5;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
