.main-page {
  background-color: var(--paleta-azul1);
}

.banner {
  position: relative;
  padding-top: 1em;
  width: 100%;
  height: 50%;
}

.banner__image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  transition: filter 0.5s ease;
  filter: blur(3px) brightness(0.6);
}

.banner__title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.banner__separator {
  width: 98%;
  border: 1px solid white;
  opacity: 0.5;
}


.back-button {
  background-color: var(--paleta-dorado);
  color: var(--paleta-rojo_oscuro1);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 1em;
}

.back-button::before {
  content: '\2190';
  margin-right: 5px;
}


.card-content {
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1C3C47;
}

.card-content__features-section {
  padding: 3%;
  width: 90%;
}

.card-content__features-label{
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-left: 1em;
  color: white;
  font-size: 2em;
}

.card-content__list{
  padding: 1% 2%;
}

.card-content__feature {
  list-style: none;
  width: 100%;
  margin: 0.5em 0;
  padding: 1%;
  border-radius: 6px;
  background: #333;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3);
}

.feature__name {
  display: flex;
  align-items: center;
  padding: 2%;
  font-size: 1.2em;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.feature__name::before {
  content: '+';
  margin-right: 3%;
  font-size: 1.3em;
  font-weight: 700;
}

.feature__accordion {
  display: none;
}

.feature__description-container {
  padding: 0 1%;
  color: white;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;

  &.open {
    max-height: 400px;
  }
}
