.main-page {
  background-color: var(--paleta-azul1);
}

.banner {
  position: relative;
  padding-top: 1em;
  width: 100%;
  height: 50%;
}

.banner__image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  transition: filter 0.5s ease;
  filter: blur(3px) brightness(0.6);
}

.banner__title {
  position: absolute;
  top: 20%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  text-align: center; /* Centra horizontalmente */
  color: white; /* Color del texto */
  font-size: 3em; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase;
}

.banner__separator {
  width: 98%; /* Ancho del separador */
  border: 1px solid white; /* Estilo del separador */
  opacity: 0.5; /* Opacidad del separador */
}


/* Estilo base del botón */
.back-button {
  background-color: var(--paleta-dorado);
  color: var(--paleta-rojo_oscuro1);
  border: none; /* Sin borde */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 1em;
  margin-left: 1em;
}

/* Icono de flecha */
.back-button::before {
  content: '\2190'; /* Código de la flecha hacia la izquierda */
  margin-right: 5px; /* Espacio entre el icono y el texto */
}


.card-content {
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1C3C47;
}

.card-content__features-section {
  padding: 3%;
  width: 90%;
}

.card-content__features-label{
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-left: 1em;
  color: white;
  font-size: 2em;
}

.card-content__list{
  padding: 1% 2%;
}

.card-content__feature {
  list-style: none;
  width: 100%;
  margin: 0.5em 0em;
  padding: 1%;
  border-radius: 6px;
  background: #333;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3);
}

.feature__name {
  display: flex;
  align-items: center;
  padding: 2%;
  font-size: 1.2em;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.feature__name::before {
  content: '+';
  margin-right: 3%;
  font-size: 1.3em;
  font-weight: 700;
}

.feature__accordion {
  display: none;
}

.feature__description-container {
  padding: 0 1%;
  color: white;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;

  &.open {
    max-height: 400px; // Ajusta la altura máxima para el estado abierto
  }
}
