<body>
    <main class="topic-page-main-container">
        <section class="topic-display">
            <section class="topic-display__info">
                <section class="topic-details">
                    <div class="topic-display__name-container">
                        <p class="topic-display__name">Lorem ipsum</p>
                    </div>
                    
                    <time class="topic-display__date">Published on ...</time>
                </section>
    
                <section class="author-details">
                    <div class="topic-display__image-container">
                        <img class="topic-display__profile-pic" src="/assets/images/default.jpg" alt="">
                    </div>
                    
                    <p class="topic-display__author">Author</p>
                </section>
    
            </section>
            
            <div class="topic-display__text-container">
                <p class="topic-display__text">Topic text</p>
            </div>
    
        </section>

        <section class="comment-area">
            <section class="comment-area__creation">
                <textarea class="comment-area__text" placeholder="Write a comment..."></textarea>
            </section>
    
            <div class="comment-area__button-container">
                <button class="comment-area__button">Comment</button>
            </div>
        </section>

        <section class="comment-section-container">
            <ul class="comment-section-list">
                <li class="comment" *ngFor="let i of dummyList">
                    <app-comment></app-comment>
                </li>
            </ul>
        </section>
    </main>
</body>