* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.topic-page-main-container{
  background-image: url('/assets/images/dice_background_red.png');
  background-repeat: repeat;
  background-size: 50em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-display {
  background-color: rgba(28, 60, 71, 0.5);
  border: .01em solid #000;
  border-radius: .3em;
  box-shadow: .5em .5em .1em rgba(0,0,0,0.5);
  color: var(--paleta-beige);
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: auto auto auto;
  margin-bottom: 1em;
}

.topic-display__name {
  grid-column: 1;
  grid-row: 1;
  margin: 2em 0 2em 2em;
  display: flex;
  align-items: flex-end;
}

.name-content {
  background-color: var(--paleta-azul1);
  color: rgb(255, 187, 0);
  padding: 0.6em;
  border-radius: .5em;
  border: 1px solid black;
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
  font-size: x-large;
  font-weight: bold;
  font-family: 'Platypi', sans-serif;
  display: inline-block;
}

.topic-display__date {
  grid-column: 1;
  grid-row: 2;
  margin-left: 2.2em;
  font-weight: 700;
}

.topic-display__user {
  grid-column: 2;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-display__pfp {
  justify-self: center;
  align-self: center;
  height: 7em;
  width: 7em;
  border-radius: .4em;
  border: .1em solid black;
  margin-top: 2em;
}

.topic-display__author {
  justify-self: center;
  align-self: center;
  font-family: 'Platypi', sans-serif;
  font-size: large;
  color: rgb(255, 187, 0);
}

.topic-display__text {
  grid-column: span 2;
  grid-row: 3;
  justify-self: center;
  margin:  0.5em 2em 2em 2em;
  padding: 0.8em;
  box-sizing: border-box;
  background-color: var(--paleta-azul1);
  border: .1em solid black;
  border-radius: .5em;
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
  font-family: 'Platypi', sans-serif;
  font-size: large;
}

.comment-area{
  border: .05em solid black;
  border-radius: .5em;
  background-color: rgba(28, 60, 71, 0.86);
  box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0;
  width: 90%;
  height: auto;
}

.comment-area__creation {
  margin: 1em 2em 0.5em 2em;
}

.comment-area__text {
  background-color: #c9c5c5;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  font-family: 'Platypi', sans-serif;
  font-size: medium;
  padding:1em;
}
.comment-area__button-container {
  display: flex;
  justify-content: flex-end;
}
.comment__button{
  border: none;
  border-radius: .1em;
  box-shadow: .3em .3em .2em rgba(0,0,0,0.1);
  transition-duration: 0.4s;
  cursor: pointer;
  color:#000000;
  font-size: x-large;
  width: 6em;
  height: auto;
  padding: 0.2em 0.5em;
  background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
  background-size: auto;
  animation: shimmer 2s infinite linear;
  font-family: 'Ringbearer', sans-serif;
  margin: 0 1.5em 0.5em 0;
}

.comment__button:hover{
  border: .05em solid black;
  box-shadow: #333;
  box-shadow: .3em .3em .2em rgba(0,0,0,0.5);
}

.comment-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 3em;
  width: 90%;
}

.comment-section-list {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.comment {
  margin-bottom: 1em;
}

.section__tittle {
  text-align: center;
  font-family: 'DRAGON HUNTER';
  color: #ffbb00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.87);
  font-size: 2.5em;
  margin-top: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .topic-display {
      grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 767px){
  .topic-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    box-shadow: none;
  }
  .topic-display__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
  }
  .name-content {
    justify-self: center;
    align-self: center;
    box-shadow: none;
    font-size: medium;
  }
  .topic-display__pfp {
    height: 4em;
    width: 4em;
  }
  .topic-display__author {
    font-size: smaller;
  }
  .topic-display__date {
    justify-self: center;
    align-self: center;
    margin:0;
  }
  .topic-display__text {
    margin: 0.8em;
    box-shadow: none;
    font-size: smaller;
  }
  .comment-area {
    width: 100%;
    margin: 1em;
  }
  .comment-area__text {
    height: 20vh;
    font-size: smaller;
  }
  .comment-area__button-container {
    display: flex;
    justify-content: center;
  }
  .comment__button {
    font-size: medium;
    margin: 0 0 0.5em 0;
  }
  .section__tittle {
    font-size: x-large;
  }
}
