.main-page {
  background-image: url('src/assets/images/dice_background_green-blue.png');
  background-repeat: repeat;
  background-size: 50em;
}

.back-button {
  background-color: var(--paleta-rojo2);
  color: #ffbb00;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2em;
  transform: scaleY(-1);
  padding: 0 0.5em;
  margin: 0.3em 0 0 0.5em;
}

.banner {
  position: relative;
  padding-top: 1em;
  width: 100%;
  height: 50%;
}

.banner__image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  transition: filter 0.5s ease;
  filter: blur(3px) brightness(0.6);
}

.banner__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;

  font-family: 'Ringbearer', sans-serif;
  color: var(--paleta-beige);

  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
  2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
}

.banner__text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;

  color: var(--paleta-beige);
  font-family: 'Platypi', sans-serif;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner__separator {
  width: 98%;
  border: 1px solid white;
  opacity: 0.5;
}

.information-section-container{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3em 10em 6em 10em;
}

.information-section__text-container{
  background-color: var(--paleta-azul1);
  color: var(--paleta-beige);

  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 3em;
  padding: 2em;

  text-align: justify;

  border-radius: 1em;
  border: .1em solid black;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 1);
}

.information-section__figure{
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row: 3;

  display: flex;
  align-items: center;
  justify-content: center;

}

.information-section__image{
  max-width: 50em;

  border-radius: 1em;
  border: .1em solid black;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 1);
}

.information-section__field-title{
  font-family: 'Ringbearer', sans-serif;
  color: var(--paleta-beige);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.information-section-container {
  font-family: 'Platypi', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .banner__image {
    height: 12em;
  }

  .banner__title {
    margin: 0.5em 0 1em 0;
    font-size: 2em;
    width: 100%;
  }

  .banner__text {
    font-size: 1em;
    width: 90%;
    height: auto;
    margin: 0;
  }

  .information-section-container{
    padding: 1em 3em 1.5em 3em;
  }
  .information-section__field-title {
    text-align: center
  }

  .information-section__image{
    width: 90%;
  }
}

@media screen and (max-width: 767px){
  .banner__image {
    height: auto;
  }

  .banner__title {
    font-size: 2em;
    width: 100%;
  }

  .banner__text {
    font-size: 1em;
    width: 90%;
    margin: 0;
  }

  .information-section-container{
    width: 90%;
    padding: 1em 1em 1.4em 1em;
    display: block;
    justify-self: center;
  }

  .information-section__field-title{
    width: auto;
    font-size: 1.5em;
    text-align: center
  }

  .information-section__text-container{
    display: flex;
    flex-direction: column;
  }

  .information-section__image{
    width: 120%;
  }

}
