.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

app-header {
  flex-shrink: 0;
}

router-outlet {
  flex-grow: 0;
}

app-footer {
  flex-shrink: 0;
}
