.main {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #c9c5c5;
    
    font-size: 75%;
}

.follow-us {
    color:#333;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.follow-us__label{
    position: relative;
}

.follow-us__link-list{
    display: flex;
    align-self: center;
    justify-content: space-between;

    position: relative;
    bottom: 1em;
    right: 1em;

    list-style-type: none;

    width: 30em;
}

.follow-us__img{
    max-width: 1em;
    padding-right: .5em;

    position: relative;
    top: .1em;
}

.follow-us__link {
    color: inherit;
}