<footer class="main">

        <section class="about-us">
            <h1 class="about-us__label">About us</h1>
            <div class="about-us__text-container">
                <p class="about-us__text">D&D For Dummies is a web app.</p>
            </div>
        </section>
    
        <section class="follow-us">
            <h1 class="follow-us__label">Follow us</h1>

            <ul class="follow-us__link-list">

                <li class="follow-us__element">
                    <a class="follow-us__link" href="https://www.github.com">GitHub</a>
                </li>

                <li class="follow-us__element">
                    <a class="follow-us__link" href="https://www.linkedin.com">LinkedIn</a>
                </li>

                <li class="follow-us__element">
                    <a class="follow-us__link" href="https://www.twitter.com">Twitter</a>
                </li>

                <li class="follow-us__element">
                    <a class="follow-us__link" href="https://www.instagram.com">Instagram</a>
                </li>
                
            </ul>

        </section>
</footer>
