<footer class="main">

    <section class="about-us">
        <h1 class="about-us__label">About us</h1>
        <div class="about-us__text-container">
            <p class="about-us__text">D&D For Dummies is a web app.</p>
        </div>
    </section>

    <section class="follow-us">
        <h1 class="follow-us__label">Follow us</h1>

        <ul class="follow-us__link-list">

            <li class="follow-us__element">
                <i class="bi bi-github"></i>
                <a class="follow-us__link" [href]="socialMediaURL.GITHUB">GitHub</a>
            </li>

            <li class="follow-us__element">
                <i class="bi bi-linkedin follow-us__link"></i>
                <a class="follow-us__link" [href]="socialMediaURL.LINKEDIN">LinkedIn</a>
            </li>

            <li class="follow-us__element">
                <i class="bi bi-twitter"></i>
                <!-- <i class="bi bi-twitter-x"></i> -->
                <a class="follow-us__link" [href]="socialMediaURL.TWITTER">Twitter</a>
            </li>

            <li class="follow-us__element">
                <i class="bi bi-instagram"></i>
                <a class="follow-us__link" [href]="socialMediaURL.INSTAGRAM">Instagram</a>
            </li>
            
        </ul>

    </section>
</footer>
