<footer class="main">

    <section class="follow-us">
            <h1 class="follow-us__label">Follow us</h1>

            <ul class="follow-us__link-list">

                <li class="follow-us__element">
                    <img class="follow-us__img follow-us__img--github" src=>
                    <a class="follow-us__link" href="https://www.github.com">GitHub</a>
                    
                </li>

                <li class="follow-us__element">
                    <img class="follow-us__img follow-us__img--linkedin" src=>
                    <a class="follow-us__link" href="https://www.linkedin.com">LinkedIn</a>
                    
                </li>

                <li class="follow-us__element">
                    <img class="follow-us__img follow-us__img--twitter" src=>
                    <a class="follow-us__link" href="https://www.twitter.com">Twitter</a>
                    
                </li>

                <li class="follow-us__element">
                    <img class="follow-us__img follow-us__img--instagram" src=>
                    <a class="follow-us__link" href="https://www.instagram.com">Instagram</a>
                    
                </li>
                
            </ul>

        </section>
</footer>
