* {
    margin: 0;
    padding: 0;
    font-family: 'Ringbearer', sans-serif;

}

.background-character-creator{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('src/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 30em;

    color: #c9c5c5;

    padding-top: 2em;

}

.character-creator{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.character-creator__label{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100%;

    background-color: #0e1619;
    width: 9em;

    border-radius: .3em;
    border: .1em solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    color: #c9c5c5;

}

.character-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile__img{
    width: 12em;
    height: 15em;
    object-fit: cover;

    border: .15em solid black;
    cursor: pointer;

    border-radius: .5em;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
}

.character-profile__place-name{
    position: relative;
    top: 0.6em;
    right: 1em;

    width: 12em;
}

.file-button{
    display: none;
}

.user-options{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 7em 4em 4em;

    position: relative;
    right: 1em;
    top: 3em;
}

.character-name{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1; 

}

.character-name__name-value{
    width: 29em;
    padding: .5em;

    background-color: #333;
    color: #c9c5c5;

    border-radius: .5em;
    border: .15em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    transition: border 0.5s ease, background-color 0.5s ease;;
}

.property{
    display: flex;
    flex-direction: column;

    width: 11em;
    position: relative;
    left: .6em;
}

.property__type-label{
    position: relative;
    right: .7em;

    text-shadow: 1px 0 #333, -1px 0 #333, 0 1px #333, 0 -1px #333,
              .5px .5px #333, -.5px -.5px #333, .5px -.5px #333, -.5px .5px #333;
    
}

.property__selector{
    background-color: #333;
    color: #c9c5c5;

    border-radius: .5em;
    border: .15em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    padding: .5em;

    cursor: pointer;
}

.dice-place{
    background-color: #292828;

    width: 19em;
    height: 15.5em;

    border-radius: .5em;
    border: .15em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;
    
    align-self: center;
    justify-self: center;

    margin: 2em;
}

.dice-place__place-name{
    position: relative;
    bottom: 0.5em;
    left: 1em;
}

.dice{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 13em;
}

.dice__img{
    max-width: 12em;
    max-height: 12em;

    cursor: pointer;
}

.skills{
    background-color: #292828;

    border-radius: .4em;
    border: .15em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 14em;
    height: 38em;
    margin-top: 3.5em;
    padding-left: .2em;
    padding-right: .2em;

    align-self: center;
    justify-self: center;
}

.skills__place-name{
    position: relative;
    bottom: .8em;
    
    display: flex;
    align-self: center;
    justify-self: center;

    width: 11em;
    padding: .2em;
}

.skill-type{
    background-color: #333;

    border-radius: .2em;
    border: .15em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    padding: .1em;
    padding-left: .3em;

    position: relative;
    bottom: .6em;

}

.skill-type__radio{
    position: relative;
    top: .35em;
}

.basic-character-stats{
    display: flex;
    align-items: center;
    justify-content: center;
}

.saving-throws{
    background-color: #292828;

    width: 16.5em;
    height: 25.9em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: .4em;
    border: 0.1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;
}

.saving-throws__place-name{
    position: relative;
    bottom: 1.2em;
    
}

.modificer-container{
    display: grid;
    grid-template-rows: 7em 7em 7em;
    grid-template-columns: 7em 7em;
    grid-gap: 1em;
}

.modifier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    background-color: #333;
}

.modifier__caption{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    bottom: .5em;

    background-color: #292828;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    margin-top: .2em;
    padding: .1em;
    padding-left: .3em;

    font-size: 90%;

}

.modifier__value{
    position: relative;
    align-self: center;

    bottom: .9em;
    right: .1em;
    font-size: 200%;
}

.character-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-container {
    background-color: #292828;

    width: 16.5em;
    height: 26.5em;

    border-radius: .4em;
    border: 0.1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.stats__place-name{
    position: relative;
    bottom: 1.4em;

}

.stats {
    display: grid;
    grid-template-rows: 7em 7em 7em;
    grid-template-columns: 7em 7em;
    grid-gap: 1em;

}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    background-color: #333;

}

.stat__caption{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    bottom: .5em;

    background-color: #292828;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    margin-top: .2em;
    padding: .1em;
    padding-left: .3em;

    font-size: 90%;
}

.stat__mod-value{
    position: relative;
    align-self: center;

    top: .4em;
    right: .1em;
    font-size: 200%;
}

.stat__value-container{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 2.7em;
    height: 2.7em;

    position: relative;
    top: .5em;
    left: .5em;

    align-self: flex-end;

    background-color: #333;

    border-radius: .5em;
    border: .02em solid #000;
    box-shadow: .2em .25em .1em rgba(0, 0, 0, 0.5);

}

.stat__value{
    position: relative;
    top: .1em;

    font-size: 120%;

}

.stat--strength {
    grid-row: 1;
    grid-column: 1;
}

.stat--constitution {
    grid-row: 2;
    grid-column: 1;
}

.stat--wisdom {
    grid-row: 3;
    grid-column: 1;
}

.stat--dexterity {
    grid-row: 1;
    grid-column: 2;
}

.stat--intelligence {
    grid-row: 2;
    grid-column: 2;
}

.stat--charisma {
    grid-row: 3;
    grid-column: 2;
}

.passive-perception{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 3em;
    margin-top: 1em;
}

.passive-perception__place-name{
    position: relative;
    top: .2em;
}

.passive-perception__value{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: .45em .45em .1em rgba(0, 0, 0, 0.5);

    width: 10em;
    height: 5em;

    padding-top: .25em;

}

.feats, .proficiencies{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

}

.feats{
    position: relative;
    bottom: 3.5em;
}

.feats__container, .proficiencies__container{
    
    background-color: #292828;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    width: 13em;
    height: 13em;
    padding: 1.2em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.feats__place-name, .proficiencies__place-name{
    position: relative;
    bottom: 1.7em;
}

.feats__text, .proficiencies__text{
    font-size: 80%;

    position: relative;
    bottom: .6em;

    display: flex;
    justify-self: center;
}

.combat{
    display: grid;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

    grid-template-columns: 10em 10em;
    grid-template-rows: auto auto auto;
    gap: .5em;

    background-color: #292828;
    height: 23em;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    margin: 1em;
    padding: 1em;
}

.combat__place-name{
    grid-row: 1;
    grid-column: 1;

    position: relative;
    bottom: 4.5em;
}

.character-element--hit-points{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.character-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    padding: 1em;
    height: 3em;

    background-color: #333;
}

.character-element__name{
    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    padding: .2em;
    width: 7.5em;

    background-color: #292828;

    display: flex;
    justify-content: center;

    position: relative;
    bottom: 1.4em;
}

.character-element__value{
    position: relative;
    bottom: .3em;

    font-size: 120%;
}

.lore{
    grid-column-start: 1;
    grid-column-end: 4;

    margin-top: 1em;
    margin-left: 7em;
    margin-right: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;



}

.persistence{
    grid-column-start: 1;
    grid-column-end: 4;


    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: 10em;

    height: 15em;

}

.persistence__button{
    background-color: #333;
    border: .01em solid #000;
    border-radius: .3em;
    box-shadow: .3em .3em .1em rgba(0,0,0,0.1);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#c9c5c5;
    padding: .1em;

    font-size: 2.8em;

    width: 5em;
    height: 1.5em;
}

.persistence__button:hover{
    background-color: rgb(31, 30, 30);
    border: .01em solid #b6921c;
}

.marked{
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    color:#333;
}

.marked-label{
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-size: 1.2em;
    color: var(--paleta-rojo1); 
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.can-hover{
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.can-hover:hover{
    background-color: rgb(31, 30, 30);
    
    border-color: #b6921c;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.can-hover:focus,
.can-hover:active {
    background-color: #2f2f2f;
    border-color: #b6921c; 
    outline: none; 
}

@media screen and (max-width: 1170px) {
    .background-character-creator{
        padding-right: 0;
    }

    .character-creator{
        grid-template-columns: 25em 25em;
        grid-template-rows: auto 20em;
        font-size: 80%;
    }

    .character-profile{
        grid-column: 1;
        grid-row: 1;
    }

    .property__type-label{
        top: .2em;
    }

    .user-options{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;

        right:0
    }

    .property{
        align-self: center;
        justify-self: center;
    }

    .dice-place{
        grid-column: 2;
        grid-row: 1;

        margin: 1em;

        position: relative;
        top: .8em;
    }

    .skills{
        grid-column: 1;
        grid-row: 4;

        margin-top: 0;

    }

    .basic-character-stats{
        grid-column: 1;
        grid-row: 3;

        position: relative;
    }

    .character-stats{
        grid-column: 2;
        grid-row: 3;

        margin: 2em;
        position: relative;
        top: 5em;
    }

    .proficiencies{
        grid-column: 2;
        grid-row: 5;

        height: 20em;
    }

    .feats{
        grid-column: 1;
        grid-row: 5;

        bottom: 0;
        height: 25em;
    }

    .combat{
        grid-column: 2;
        grid-row: 4;
    }

    .lore{
        grid-column-start: 1;
        grid-column-end: 3;

        margin-left: 4em;
    }

    .persistence{
        grid-column-start: 1;
        grid-column-end: 3;

        gap: 5em;
    }
}

@media screen and (max-width: 639px) {
    .background-character-creator{
        padding-right: 0;
    }

    .character-creator{
        grid-template-columns: 25em;
        font-size: 75%;

        grid-gap: 5em;
    }

    .character-profile{
        grid-column: auto;
        grid-row: auto;
    }

    .property__type-label{
        top: .3em;
    }

    .user-options{
        grid-column: auto;
        grid-row: 3;

        position: relative;
        top: 0;
        bottom: 1em;
        right: .5em;

    }

    .character-name__name-value{
        width: auto;
    }

    .dice-place{
        grid-column: auto;
        grid-row: 2;

        margin: 1em;

        position: relative;
        top: .8em;
    }

    .skills{
        grid-column: auto;
        grid-row: 7;

        height: 40em;

    }

    .basic-character-stats{
        grid-column: auto;
        grid-row: 6;
    }

    .character-stats{
        grid-column: auto;
        grid-row: 4;

        margin: 2em;
        position: relative;
        top: 1em;
    }

    .proficiencies{
        grid-column: auto;
        grid-row: 8;

        height: 20em;
    }

    .feats{
        grid-column: auto;
        grid-row: 9;

        height: 12em;
    }

    .combat{
        grid-column: auto;
        grid-row: 5;
    }

    .lore{
        grid-column: auto;
        grid-row: auto;
    }

    .persistence{
        grid-column: auto;
        grid-row: auto;

        gap: 5em;
        font-size: 60%;

        position: relative;
        bottom: 4em;

    }
}