* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

app-dice{
    width: 100%;
    height: 100%;
}

.background-character-creator{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('src/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 30em;

    color: #c9c5c5;

    padding-right: 8em;
    padding-top: 1em;
}

.character-creator{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.character-creator__label{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100%;

    background-color: #0e1619;
    width: 9em;

    border-radius: .3em;
    border: .1em solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    color: #c9c5c5;

}

.character-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-profile__img{
    max-width: 12em;
    max-height: 15em;

    border: .05em solid black;

    border-radius: .5em;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
}

.character-profile__place-name{
    position: relative;
    top: 0.6em;
    right: 3em;
}

.user-options{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 7em 4em 4em;

}

.character-name{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1; 

}

.character-name__name-value{
    width: 29em;
    padding: .5em;

    background-color: #333;
    color: #c9c5c5;

    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);
}

.property{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;

    width: 11em;
    position: relative;
    left: .6em;
}

.property__type-label{
    position: relative;
    right: .7em;
    bottom: .05em;
    
}

.property__selector{
    background-color: #333;
    color: #c9c5c5;

    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    padding: .5em;
}

.dice-place{
    background-color: #292828;

    width: 19em;
     height: 15.5em;

    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;
    
    justify-self: center;

    margin: 2em;
}

.dice-place__place-name{
    position: relative;
    bottom: 0.5em;
    z-index: 10;
    left: 1em;
}

.dice{
    display: flex;
    align-items: center;
    justify-content: center;
    
    // height: 13em;
}


.skills{
    background-color: #292828;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 11em;
    height: 31.5em;
    margin-top: 3.5em;
    padding-left: .2em;
    padding-right: .2em;

    align-self: center;
    justify-self: center;
}

.skills__place-name{
    position: relative;
    bottom: .8em;
    left: .95em;
}

.skill-type{
    background-color: #333;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    padding: .1em;
    padding-left: .3em;

    position: relative;
    bottom: .6em;

}

.skill-type__radio, .skill-type__name, .skill-type__modifier{
    position: relative;
    top: .09em;
}

.basic-character-stats{
    display: flex;
    align-items: center;
    justify-content: center;
}

.saving-throws{
    background-color: #292828;

    width: 16.5em;
    height: 25.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: .4em;
    border: 0.1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;
}

.saving-throws__place-name{
    position: relative;
    bottom: 1.2em;
    
}

.modificer-container{
    display: grid;
    grid-template-rows: 7em 7em 7em;
    grid-template-columns: 7em 7em;
    grid-gap: 1em;
}

.modifier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    background-color: #333;
}

.modifier__caption{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    bottom: .5em;

    background-color: #292828;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    margin-top: .2em;
    padding: .1em;
    padding-left: .3em;


}

.modifier__value{
    position: relative;
    align-self: center;

    bottom: .9em;
    right: .1em;
    font-size: 200%;
}

.character-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-container {
    background-color: #292828;

    width: 16.5em;
    height: 26em;

    border-radius: .4em;
    border: 0.1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    color: #c9c5c5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.stats__place-name{
    position: relative;
    bottom: 1.4em;

}

.stats {
    display: grid;
    grid-template-rows: 7em 7em 7em;
    grid-template-columns: 7em 7em;
    grid-gap: 1em;

}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    background-color: #333;

}

.stat__caption{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    bottom: .5em;

    background-color: #292828;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: 0 0 .6em rgba(0, 0, 0, 0.5);

    margin-top: .2em;
    padding: .1em;
    padding-left: .3em;
}

.stat__mod-value{
    position: relative;
    align-self: center;

    top: .4em;
    right: .1em;
    font-size: 200%;
}

.stat__value-container{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 2.7em;
    height: 2.7em;

    position: relative;
    top: .5em;
    left: .5em;

    align-self: flex-end;

    background-color: #333;

    border-radius: .5em;
    border: .02em solid #000;
    box-shadow: .2em .25em .1em rgba(0, 0, 0, 0.5);

}

.stat__value{
    position: relative;
    top: .1em;

    font-size: 120%;

}

.stat--strength {
    grid-row: 1;
    grid-column: 1;
}

.stat--constitution {
    grid-row: 2;
    grid-column: 1;
}

.stat--wisdom {
    grid-row: 3;
    grid-column: 1;
}

.stat--dexterity {
    grid-row: 1;
    grid-column: 2;
}

.stat--intelligence {
    grid-row: 2;
    grid-column: 2;
}

.stat--charisma {
    grid-row: 3;
    grid-column: 2;
}

.passive-perception{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 3em;
    margin-top: 1em;
}

.passive-perception__place-name{
    position: relative;
    top: .2em;
}

.passive-perception__value{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333;

    border-radius: .2em;
    border: .1em solid #000;
    box-shadow: .45em .45em .1em rgba(0, 0, 0, 0.5);

    width: 10em;
    height: 5em;

    padding-top: .25em;

}

.proficiencies{
    background-color: #292828;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    width: 11em;
    height: 15em;
    padding: .5em;

    position: relative;

    display: flex;
    flex-direction: column ;
    justify-content: space-between;

    justify-self: center;
    align-self: center;
    
}

.proficiencies__place-name{
    position: relative;
    bottom: 1em;
    left: .9em;
}

.proficiencie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    bottom: 1em;
}

.proficiencie__label{
    position: relative;
    top: .2em;
}

.proficiencie__selector{
    background-color: #333;
    color: #c9c5c5;

    border-radius: .5em;
    border: .1em solid #000;
    box-shadow: .32em .35em .1em rgba(0, 0, 0, 0.5);

    padding: .5em;
}

.traits{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

    position: relative;
    bottom: 3.5em;
}

.traits__container{
    
    background-color: #292828;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    width: 13em;
    height: 13em;
    padding: .5em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.traits__place-name{
    position: relative;
    bottom: 1em;
}

.traits__text{
    font-size: 80%;

    position: relative;
    bottom: .6em;

    display: flex;
    justify-self: center;
}

.combat{
    display: grid;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

    grid-template-columns: 10em 10em;
    grid-template-rows: auto auto auto;
    gap: .5em;

    background-color: #292828;
    height: 23em;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    margin: 1em;
    padding: 1em;
}

.combat__place-name{
    grid-row: 1;
    grid-column: 1;

    position: relative;
    bottom: 3.8em;
}

.character-element--hit-points{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.character-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    padding: 1em;
    height: 3em;

    background-color: #333;
}

.character-element__name{
    border-radius: .4em;
    border: .1em solid #000;
    box-shadow: .3em .3em .1em rgba(0, 0, 0, 0.5);

    padding: .2em;
    width: 7.5em;

    background-color: #292828;

    display: flex;
    justify-content: center;

    position: relative;
    bottom: 1.4em;
}

.character-element__value{
    position: relative;
    bottom: .3em;

    font-size: 120%;
}

.lore{
    grid-column-start: 1;
    grid-column-end: 4;

    margin-top: 1em;
    margin-left: 7em;
    margin-right: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;



}

.persistence{
    grid-column-start: 1;
    grid-column-end: 4;


    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: 10em;

    height: 15em;

}

.persistence__button{
    background-color: #333;
    border: .01em solid #000;
    border-radius: .3em;
    box-shadow: .3em .3em .1em rgba(0,0,0,0.1);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#c9c5c5;
    padding: .1em;

    font-size: 2.8em;

    width: 5em;
    height: 1.5em;
}

.persistence__button:hover{
    background-color: rgb(31, 30, 30)
}

@media screen and (max-width: 1170px) {
    .background-character-creator{
        padding-right: 0;
    }

    .character-creator{
        grid-template-columns: 25em 25em;
        font-size: 80%;
    }

    .character-profile{
        grid-column: 1;
        grid-row: 1;
    }

    .user-options{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    .dice-place{
        grid-column: 2;
        grid-row: 1;

        margin: 1em;

        position: relative;
        top: .8em;
    }

    .skills{
        grid-column: 1;
        grid-row: 4;

        margin-top: 0;

    }

    .basic-character-stats{
        grid-column: 1;
        grid-row: 3;
    }

    .character-stats{
        grid-column: 2;
        grid-row: 3;

        margin: 2em;
        position: relative;
        top: 1em;
    }

    .proficiencies{
        grid-column: 2;
        grid-row: 5;
    }

    .traits{
        grid-column: 1;
        grid-row: 5;

        bottom: 0;
        height: 25em;
    }

    .combat{
        grid-column: 2;
        grid-row: 4;
    }

    .lore{
        grid-column-start: 1;
        grid-column-end: 3;

        margin-left: 4em;
    }

    .persistence{
        grid-column-start: 1;
        grid-column-end: 3;

        gap: 5em;
    }
}

@media screen and (max-width: 639px) {
    .background-character-creator{
        padding-right: 0;
    }

    .character-creator{
        grid-template-columns: 25em;
        font-size: 75%;

        grid-gap: 5em;
    }

    .character-profile{
        grid-column: auto;
        grid-row: auto;
    }

    .user-options{
        grid-column: auto;
        grid-row: 3;

        position: relative;
        bottom: 1em;
        right: .5em;

    }

    .character-name__name-value{
        width: auto;
    }

    .dice-place{
        grid-column: auto;
        grid-row: 2;

        margin: 1em;

        position: relative;
        top: .8em;
    }

    .skills{
        grid-column: auto;
        grid-row: 7;

    }

    .basic-character-stats{
        grid-column: auto;
        grid-row: 6;
    }

    .character-stats{
        grid-column: auto;
        grid-row: 4;

        margin: 2em;
        position: relative;
        top: 1em;
    }

    .proficiencies{
        grid-column: auto;
        grid-row: 8;

        height: 20em;
    }

    .traits{
        grid-column: auto;
        grid-row: 9;

        height: 12em;
    }

    .combat{
        grid-column: auto;
        grid-row: 5;
    }

    .lore{
        grid-column: auto;
        grid-row: auto;
    }

    .persistence{
        grid-column: auto;
        grid-row: auto;

        gap: 5em;
        font-size: 60%;

        position: relative;
        bottom: 4em;

    }
}