<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D For Dummies</title>
  </head>

  <body>
    <main>

      <section class="banner_section">
        <figure class="main_banner">
          <img src="/assets/images/horizontal-wallpaper.jpg" alt="horizontal-wallpaper">
          <figcaption>Title of the section</figcaption>
        </figure>
      </section>

      <section class="main_content">
        <figure class="character-creator-banner">
          <a href="character-creator.html">
            <img src="/assets/images/vertical-banner.jpg" alt="vertical-wallpaper">
          </a>
        </figure>

        <figure class="glossary-banner">
          <a href="glossary-index.html">
            <img src="/assets/images/vertical-banner.jpg" alt="vertical-wallpaper">
          </a>
        </figure>

        <figure class="forum-banner">
          <a href="forum.html">
            <img src="/assets/images/vertical-banner.jpg" alt="vertical-wallpaper">
          </a>
        </figure>
      </section>

    </main>
  </body>

</html>
