.main-page {
    background-color: #1C3C47;
}

.banner {
    position: relative;
    padding-top: 1em;
    width: 100%;
    height: 60vh;
    background-color: #1C3C47;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible */
    object-position: center;
    transition: filter 0.5s ease;
}

.banner:hover .banner__image {
    filter: blur(3px) brightness(0.6); /* Aplicamos desenfoque y reducimos el brillo solo al fondo en hover */
}

.banner__hover-text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
}

.banner:hover .banner__hover-text {
    display: block; /* Mostramos el texto en hover */
    visibility: visible;
    opacity: 1;
}

.main-sections{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-sections figure{
    width: 33.3%;
    margin: 20px;
}

.main-sections__image {
    width: 100%;
    transition: filter 0.5s ease;
}

.main-sections figure:hover .main-sections__image {
    filter: blur(3px) brightness(0.6);
}

.main-sections__label {
    visibility: hidden;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    top: -50%;
    display: flex;
    justify-content: center;
}

.main-sections figure:hover .main-sections__label {
    visibility: visible;
    opacity: 1;
}
