<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D For Dummies</title>
  </head>

  <body>
  <header class="main_header"><app-header></app-header></header>

  <main>
    <section class="banner_section">
      <figure class="main_banner">
        <img src="/media/images/horizontal-wallpaper.jpg">
        <figcaption>Title of the section</figcaption>
      </figure>

      <img>
    </section>

    <section class="main_content">

      <figure class="character-creator-banner">
          <img src="/media/images/vertical-banner.jpg">
      </figure>

      <figure class="glossary-banner">
          <img src="/media/images/vertical-banner.jpg">
      </figure>

      <figure class="forum-banner">
          <img src="/media/images/vertical-banner.jpg">
      </figure>

    </section>

  </main>

  <footer class="main_footer"><app-footer></app-footer></footer>

  </body>
</html>
