.main-page {
  background-image: url('src/assets/images/dice_background_red.png');
  background-repeat: repeat;
  background-size: 50em;

}

.navigation-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em 0 1em;
}

.searcher {
  height: 1.5em;
  width: 20em;
  border-radius: 20px;
  font-size: x-large;
  border: 0.2em solid #1C3C47;
  text-indent: 1em;
}

.banner {
  position: relative;
  padding-top: 1em;
  width: 100%;
  height: 50%;
}

.banner__image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  transition: filter 0.5s ease;
  filter: blur(3px) brightness(0.6);
}

.banner__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;

  font-family: 'Ringbearer', sans-serif;
  color: var(--paleta-beige);

  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
  2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
}

.banner__text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;

  color: var(--paleta-beige);
  font-family: 'Platypi', sans-serif;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner__separator {
  width: 98%;
  border: 1px solid white;
  opacity: 0.5;
}

.elements-section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin-right: 4em;

    &__list {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 6em;
      row-gap: 3em;
      margin-left: 4em;
    }

    &__entry {
      list-style: none;
      height: 16em;
    }
}

.error-message {
  margin-top: 0;
  background-color: var(--paleta-rojo1);
  padding:0.5em;
  border:1px solid;
  border-color: var(--paleta-rojo_oscuro1);
  color: var(--paleta-beige);
  font-size: 2em;
}

.back-button {
  background-color: #1C3C47;
  color: #ffbb00;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 2em;
  transform: scaleY(-1);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .banner__image {
    height: 12em;
  }

  .banner__title {
    margin: 1em 0 1em 0;
    font-size: 2em;
    width: 100%;
  }

  .banner__text {
    font-size: 1em;
    width: 90%;
    height: auto;
    margin: 0;
  }

  .elements-section {
    &__list {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 6em;
      row-gap: 3em;
      margin-left: 4em;
    }
    &__entry {
      height: auto;
    }
  }
}

@media screen and (max-width: 767px){
  .navigation-search{
    padding:0.3em 0.3em 0 0.3em;
  }

  .back-button {
    padding: 0 0.5em;
  }

  .searcher {
    width: 12em;
    height: 1em;
  }

  .banner__image {
    height: auto;
  }

  .banner__title {
    margin: 1em 0 1em 0;
    font-size: 2em;
    width: 100%;
  }

  .banner__text {
    font-size: 1em;
    width: 90%;
    margin: 0;
  }

  .elements-section {
    &__list {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 6em;
      row-gap: 3em;
      margin-left: 4em;
    }
    &__entry {
      height: auto;
    }
  }
}

