<main class="background-signup">
    <div class="user-info">
        <h1 class="profile-title ">Sign up for the adventure!</h1>
        <div class="user-box"> 
            <section class="user-box__content">
                <figure class="user-box__pfp">
                    <img 
                        [src]="displayImage"
                        class="user-box__img"
                        (click)="uploadInput.click()"
                    >
                    <input type="file" id="file-upload" accept="image/*" (change)="onFileSelected($event)" #uploadInput style="display: none;">
                </figure>
                <article class="user-info">    
                    <section class="user-box__portion">
                        <label class="parameter__label">Email:</label>
                        <input type="email" class="user-box__input_email"[(ngModel)]="userEmail" [ngClass]="{'input-error': emailError}" name="email">
                    </section>
                    <section class="user-box__portion">    
                        <label class="parameter__label">Confirm Email:</label>
                        <input type="email" class="user-box__input_confirmemail" [(ngModel)]="userConfirmEmail" [ngClass]="{'input-error': confirmEmailError}" name="confirmEmail"> 
                    </section>
                    
                    <section class="user-box__portion">
                        <label class="parameter__label">Username:</label>
                        <input type="text" class="user-box__input_username" [(ngModel)]="username" [ngClass]="{'input-error': usernameError}" name="username"> 
                    </section>
                    
                    <section class="user-box__portion">
                        <label class="parameter__label">Password:</label>
                        <input type="password" class="user-box__input_password" [(ngModel)]="userPassword" [ngClass]="{'input-error': passwordError}" name="password"> 
                    </section>
                    <section class="user-box__portion">    
                        <label class="parameter__label">Confirm Password:</label>
                        <input type="password" class="user-box__input_confirmpassword" [(ngModel)]="userConfirmPassword" [ngClass]="{'input-error': confirmPasswordError}" name="confirmPassword"> 
                    </section>
                    
                    <section class="user-box__portion">
                        <label class="parameter__label">Birth date:</label>
                        <input type="date" class="user-box__input_birthdate" [(ngModel)]="userBirthDate" [ngClass]="{'input-error': birthDateError}" name="birthDate"> 
                    </section>
                    
                </article>
            </section>
            <p class="parameter__age-warning">*You must be +18 years old to sign up</p>
            <section class="second-col">
                <section class="Register-buttons">
                    <button type="button" class="persistence__button" (click)="registerUser()">Register</button>
                </section>

            </section>
        </div> 
    </div> 
</main>