.background-signup{
    background-image: url('/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 30em;

    font-size: 150%;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;

    min-height: 100vh;
    padding: 1em;

    color: #c9c5c5;
    text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
        2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
    
    font-family: 'Ringbearer', sans-serif;
}

.main-signup__title{
    text-align: center;

    background-color: rgba(39, 39, 39, 0.5);
    padding: .5em;
    border-radius: .4em;
}

.user-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3em;

    width: 100%;
}

.texts{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1em;

    width: 100%;

    position: relative;
    bottom: 3em;
}

.parameter__text--birth-date::-webkit-calendar-picker-indicator {
    display: none;
}

.parameter__label{
    display: flex;
    justify-content: flex-start;

    width: 50%;

    position: relative;
    right: 1em;
}

.parameter__text{
    width: 50%;

    position: relative;
    bottom: .2em;
    
    background: linear-gradient(to right, #2e2e2e, #333, #292929, #303030, #2e2e2e);
    background-size: 200% auto;
    animation: shimmer 10s infinite linear;

    color:#c9c5c5;

}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;


    height: 14em;

}

.user-profile__img{
    width: 12em;
    height: 12em;

    border: .2em solid #ffaa00;
    border-radius: .5em;
    box-shadow: .6em .6em .2em rgba(0,0,0,0.5);
    
}

.persistence{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

    width: 50%;

}

.persistence__button{
    border: none;
    border-radius: .1em;
    box-shadow: .3em .3em .2em rgba(0,0,0,0.1);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#000000;

    font-size: 1.5em;

    width: 5em;
    height: 1.5em;

    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'Ringbearer', sans-serif;

    position: relative;
    bottom: 1.5em;
}

.persistence__button:hover{
    border: .05em solid black;
    box-shadow: #333;
    box-shadow: .3em .3em .2em rgba(0,0,0,0.5);
}

.parameter__age-warning{
  font-size: 60%;

  position: relative;
  right: 6.5em;
}

@media screen and (max-width: 765px){
    .background-signup {
        font-size: 110%;
    }

    .parameter__label, .parameter__text, .persistence, .parameter__age-warning, .warnings{
        width: 75%;
    }

    .user-profile__button{
        left: 6em;
        bottom: 8em;
    }

    .main-signup__title{
        font-size: 150%;
    }
}
---------------------------------------------------------------------------------------
.user-info {
    margin: 0;
    padding: 20px;
  
    background-image: url('src/assets/images/dice_background_red.png');
    background-size: 50em;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height: 80vh;
}  

.user-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(28, 60, 71, 0.86);
    max-width: 900px;

    .user-box__content {
      display: flex;
      align-items: center;
      justify-content: center;

      .user-box__pfp {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .user-box__info {
        flex-grow: 1;

        .user-box__portion {
          margin-bottom: 1em;
          display: flex;
          flex-direction: column;

          color: var(--paleta-beige);
        }

        .user-box__portion p{
          margin: 0;
          color: var();
        }

        .user-box__label {
          font-weight: bolder;
          color: #ffbb00;
        }
      }
    }
}

.Register-buttons {
    margin-top: 1em;
    text-align: center;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;

    #button-edit {
      background-color: #ffbb00;
      color: #fff;
    }
}

.profile-title {
    text-align: center;
    font-family: 'DRAGON HUNTER';
    color: #ffbb00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.87);
  }

.user-box__input_email{
    width: 300px; 
}
.user-box__input_password{
    width: 257px; 
}
.user-box__input_username{
    width: 252px; 
}
.user-box__input_confirmemail{
    width: 215px; 
}
.user-box__input_confirmpassword{
    width: 173px; 
}
.user-box__input_birthdate{
    width: 264px; 
}
