.background-signup{
    background-image: url('/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 30em;
    min-height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main-signup__title {
      color: #ffbb00;
      text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
      2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
      font-family: 'Ringbearer', sans-serif;
      margin-bottom: 0;
    }
}

.user-info{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(28, 60, 71, 0.86);
}

.user-profile{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 1em;
  img {
    width: 100%;
    height: auto;
  }
}

.texts{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: var(--paleta-beige);
    padding: 2em;
    font-family: 'Platypi', sans-serif;
}

.parameter__label{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  font-weight: bolder;
  color: #ffbb00;
}

.parameter__text {
  width: 90%;
  margin-bottom: 1em;
}

.parameter__text--birth-date::-webkit-calendar-picker-indicator {
    display: none;
}

.persistence{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.persistence__button{
    border: none;
    border-radius: .1em;
    box-shadow: .3em .3em .2em rgba(0,0,0,0.1);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#000000;

    font-size: 1.5em;

    width: 5em;
    height: 1.5em;

    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'Ringbearer', sans-serif;
}

.persistence__button:hover{
    border: .05em solid black;
    box-shadow: #333;
    box-shadow: .3em .3em .2em rgba(0,0,0,0.5);
}

.parameter__age-warning{
  font-size: 60%;
  position: relative;
}

@media screen and (max-width: 767px){
  .main-signup__title {
    font-size: large;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    width: 90%;
  }

  .user-profile {
    margin-top: 1em;
  }
  .texts {
    width: 90%;
  }
}
