.background-signup{
    background-image: url('src/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 30em;

    height: 67.95vh;

    font-size: 140%;

    display: grid;

    grid-template-rows: 4em 17em 4em;
    grid-template-columns:  2fr 1fr;
    column-gap: 2em;

    color: var(--paleta-beige);
    font-family: 'Ringbearer', sans-serif;

    justify-self: center;
    align-self: center;

    padding: 2em;
    padding-left: 5em;
    padding-top: 5em;
    padding-bottom: 10em;
}

.main-signup__title{

    grid-column: 1;
    grid-row: 1;

    position: relative;
    bottom: .8em;

    font-size: 170%;
}

.user-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1;
    grid-row: 2;

    position: relative;

}

.parameter{
    display: flex;
    flex-direction: column;
    
}

.parameter__label{
    position: relative;
    right: .5em;
    top: .13em;

    font-size: 90%;
    
}

.parameter__text{
    color: #c9c5c5;

    font-size: 100%;
    background: linear-gradient(to right, #2e2e2e, #333, #292929, #303030, #2e2e2e);
    background-size: 200% auto;
    animation: shimmer 10s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.parameter__text--birth-date::-webkit-calendar-picker-indicator {
    display: none;
}

.parameter__age-warning{
    position: relative;
    top: .1em;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;


}

.user-profile__img{
    width: 12em;
    height: 12em;

    border: .2em solid #ffaa00;
    border-radius: .5em;
    box-shadow: .6em .6em .2em rgba(0,0,0,0.5);
}

.persistence{
    display: flex;
    justify-content: center;

    grid-column: 2;
    grid-row: 3;

    position: relative;
    bottom: .5em;
}

.persistence__button{
    position: relative;

    background-color: #333;
    border: none;
    border-radius: .1em;
    box-shadow: .3em .3em .2em rgba(0,0,0,0.1);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#333;
    padding: .1em;

    font-size: 1.5em;

    width: 5em;
    height: 1.5em;
    
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'Ringbearer', sans-serif;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.persistence__button:hover{
    background-color: rgb(0, 0, 0)
}

.input-error {
    border: 1px solid red;
}