.user-info {
  margin: 0;
  padding: 20px;

  background-image: url('src/assets/images/dice_background_red.png');
  background-size: 50em;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 80vh;

  .profile-title {
    text-align: center;
    font-family: 'DRAGON HUNTER';
    color: #ffbb00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.87);
  }

  .user-box {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;

    background-color: rgba(28, 60, 71, 0.86);
    max-width: 1440px;

    .user-box__content {
      display: flex;
      align-items: center;
      justify-content: center;

      .user-box__pfp {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .user-box__info {
        flex-grow: 1;

        .user-box__portion {
          margin-bottom: 1em;
          display: flex;
          flex-direction: column;

          color: var(--paleta-beige);
        }

        .user-box__portion p{
          margin: 0;
          color: var();
        }

        .user-box__label {
          font-weight: bolder;
          color: #ffbb00;
        }
      }
    }

    .edit-buttons {
      margin-top: 1em;
      text-align: center;
      border: none;
      border-radius: 6px;
      box-sizing: border-box;

      #button-edit {
        background-color: #ffbb00;
        color: #fff;
      }
      #button-cancel {
        background-color: #880c0c;
        color: #fff;
      }
      #button-save {
        background-color: #35a42b;
        color: #fff;
        margin-left: 12em;
      }
    }
  }
}

/* CSS */
.button-3 {
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 16px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
}

