.user-info{
    background-color: #1C3C47;
    padding: .5em;

    color: #c9c5c5;
}

.user-box{
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: 17em auto;

    background-color: #333;

    border-radius: .5em;
    border: .15em solid #000;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);    

}

.user-box__profile{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 17em;
    padding-top: 1.2em;
    padding-bottom: 1.3em;

    grid-row-start: 1;
    grid-row-end:  3;

}

.user-box__img{
    width: 10em;
    height: 10em;

    border: .12em solid black;
    border-radius: .5em;
    box-shadow: .8em .7em .5em rgba(0, 0, 0, 0.5);
}

.user-box__title{
    position: relative;
    top: .8em;
    right: .6em;

    grid-row: 1;
    grid-column:  2;
}

.user-box__info{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;

    grid-row: 2;
    grid-column:  2;

    position: relative;
    bottom: 2.2em;
    left: 2em;

}

.user-box__portion{
    display: flex;

}

.user-box__text{
    position: relative;
    left: 1em;
}

.decorative-line{
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 7%;
    margin-right: 7%;
    height: .05em;

    background-color: #333;
    border: .005em solid #1f1e1e;
    border-radius: .1em;
}

.character-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
}