<div *ngIf="isAuthenticated; else notAuthenticated">
  <main class="user-info">
    <h1 class="profile-title">My Profile</h1>
    <article class="user-box">
      <div class="user-box__content">

        <div class="user-box__pfp">
          <label *ngIf="isEditing" for="fileInput">
            <img [src]="profilePhotoURL" class="user-box__img" alt="Profile Picture">
          </label>
          <input *ngIf="isEditing" type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
          <img *ngIf="!isEditing" [src]="parsePhotoGoogleURL(profilePhotoURL)" class="user-box__img" alt="Profile Picture">
        </div>

        <div class="user-box__info">
          <div class="user-box__portion">
            <label class="user-box__label">Username:</label>
            <p *ngIf="!isEditing" class="user-box__text user-box__text--username">{{ username }}</p>
            <input *ngIf="isEditing" type="text" [(ngModel)]="newUsername" class="user-box__input">
          </div>
          <div class="user-box__portion">
            <label class="user-box__label">Email:</label>
            <p *ngIf="!isEditing" class="user-box__text user-box__text--email">{{ email }}</p>
            <input *ngIf="isEditing" type="email" [(ngModel)]="newEmail" class="user-box__input">
          </div>
          <div class="user-box__portion">
            <label class="user-box__label">Birth date:</label>
            <p *ngIf="!isEditing" class="user-box__text user-box__text--birthdate">{{ birthDate | date: 'dd/MM/yyyy' }}</p>
            <input *ngIf="isEditing" type="date" [(ngModel)]="newBirthDate" class="user-box__input">
          </div>
        </div>
      </div>

      <div class="edit-buttons">
        <button mat-button (click)="toggleEdit()" *ngIf="!isEditing" id="button-edit">Edit</button>
        <button mat-button (click)="cancelEdit()" *ngIf="isEditing" id="button-cancel">Cancel</button>
        <button mat-button (click)="saveChanges()" *ngIf="isEditing" id="button-save">Save Changes</button>
      </div>
    </article>

    <app-character-list-loader class="character-list" (selectCharacter)="handleCharacterSelect($event)" (deleteCharacter)="handleCharacterDelete($event)" [profileMode]="true" [characters]="characterList"></app-character-list-loader>

  </main>
</div>

<ng-template #notAuthenticated>
  <div class="not-authenticated-message">
    <p>Please <a [routerLink]="['/signUp']">sign up</a> to access this page.</p>
  </div>
</ng-template>
