.user-info{
    background-image: url('src/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 50em;

    padding-left: 20em;
    padding-right: 20em;
    padding-top: 2em;

    height: 78vh;

    font-family: 'Ringbearer', sans-serif;
    color: var(--paleta-beige);
}

@media screen and (max-width: 1000px), (max-height: 780px) {
    .user-info {
        padding-bottom:20em;
    }
}

.user-box{
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: 17em auto 10em;

    background-color: #333;

    border-radius: .5em;
    border: .15em solid #ffaa00;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

}

.user-box__profile{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 17em;
    padding-top: 1.2em;
    padding-bottom: 1.3em;

    grid-row-start: 1;
    grid-row-end:  3;

}

.user-box__img{
    width: 10em;
    height: 10em;

    border: .15em solid #ffaa00;
    border-radius: .5em;
    box-shadow: .8em .7em .5em rgba(0, 0, 0, 0.5);
}

.user-box__title{
    position: relative;
    top: .8em;
    left: 1.2em;

    grid-row: 1;
    grid-column:  2;
}

.user-box__info{
    display:flex;
    flex-direction: column;
    padding: 1em;


    grid-row: 2;
    grid-column:  2;

    position: relative;
    left: 2em;

}

.user-box__portion{
    display: flex;

}

.user-box__text{
    position: relative;
    left: 1em;
    top: -1em;
}

.sign-out-button{
    align-self: flex-end;
    grid-row: 2;
    grid-column:  3;

    border-radius: .5em 0 .3em 0;

    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'Ringbearer', sans-serif;

}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}


.update-profile-form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}

.update-profile-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    left: 1.5em;

    grid-column: 1;


}

.update-profile-image{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    grid-column: 2;
}

.user-profile__img{
    width: 12em;
    height: 12em;

    border: .2em solid #ffaa00;
    border-radius: .5em;
    box-shadow: .6em .6em .2em rgba(0,0,0,0.5);
}

.update-profile-button{
    width: 12em;

    margin-top: 2em;

    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    font-family: 'Ringbearer', sans-serif;

}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}


.parameter{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;

}

.parameter__label{
    position: relative;
    right: .5em;
    bottom: .2em;

}

.update-profile-image__label{
    position: relative;
    bottom: .4em;
}

.parameter__text{
    background-color: #333;
    color: #c9c5c5;
    width: 25em;
    font-size: 100%;
}

.parameter__text::-webkit-calendar-picker-indicator {
    display: none;
}

// .character-card{
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
// }
