:root {
  --paleta-azul1: #1C3C47;
  --paleta-azul2: #183942;
  --paleta-dorado: #f59e4e;
  --paleta-dorado2:#a47700;
  --paleta-beige: #F1DBD2;
  --paleta-rojo1: #821F1A;
  --paleta-rojo2: #590700;
  --paleta-rojo_oscuro1: #2C0506;
  --paleta-rojo_oscuro2: #1E0908;
}

html body {
  margin: 0 !important;
}
