* {
  margin: 0;
  padding: 0;
}
.glossary-element-container{
  height: auto;
}

.glossary-element {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glossary-element__name {
  color: var(--paleta-beige);
  transition: filter 1.4s ease;
  position: relative;
  top: .55em;
  right: .4em;
  padding: .2em;
  text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
  2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
  display: flex;
  align-items: center;
  font-size: 120%;
}

.glossary-element__image {
  align-self: center;
  border: 5px solid #000000;
  border-radius: 20%;
  transition: border-color 0.3s ease;
  margin: 1em 1em 1em 2em;
  box-shadow: 0 0 0 4px #a47700;

  position: relative;
  display: block;

  height: 100%;
  width: 100%;
}

.image-container {
  position: relative;
  text-align: center;
  height: auto;
  width: auto;
}

.glossary-element__description {
  height: 105%;
  width: 110%;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 20%;
  box-shadow: .5em .5em .1em rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.glossary-element__description p {
  color: white;
  text-align: center;
  margin-top: 2em;
}

.glossary-element__button {
    background-color: #a47700;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    position: relative;
    bottom: 15.5em;
    left: 5.5em;
    box-shadow: .3em .3em .1em rgba(0,0,0,0.5);
    border-color: black;
    cursor: pointer;
    padding-top: .1em;
    width: 10em;
    height: 2em;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease, opacity 0.2s ease;
}

.glossary-element-container:hover .glossary-element__image {
  //filter: blur(4px);
}

.glossary-element-container:hover .glossary-element__description{
  visibility: visible;
  opacity: 1;
}

.glossary-element-container:hover .glossary-element__button{
  visibility: visible;
  opacity: 1;
}

.glossary-element__button:hover{
  background-color: rgb(255, 187, 0)
}

